html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 100%;
	letter-spacing: 1.3px;
}
::-webkit-input-placeholder { color: #999!important; }
:-moz-placeholder { color: #999!important; }
.window, .panel {
	position: relative;
}
a { color: #fff; }
a:visited { color: #ccc; }
a:hover { color: #fcd700; }
.panel {
	height: 100%;
}
.theme-grey {
	position: absoulte;
	color: white;
	background: #333;
	height: 100%;
	top: 0;
	left: 0;
}
.theme-grey ::-moz-selection { background: #fcd700; color: #333; text-shadow: none;}
.theme-grey ::selection { background: #fcd700; color: #333; text-shadow: none;} 
.theme-grey input[type=text],
.theme-grey input[type=email],
.theme-grey input[type=search],
.theme-grey input[type=date],
.theme-grey textarea {
	color: #FFF;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	-webkit-appearance: none;
	-moz-appearance:none;
	box-shadow: inset 0px 2px 6px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.35);
	-o-box-shadow: inset 0px 2px 6px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.35);
	-webkit-box-shadow: inset 0px 2px 6px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.35);
	-moz-box-shadow: inset 0px 2px 6px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.35);
	border: none;
	outline: none;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	background: #333;
	padding: 8px 12px;
	font-size: 16px;
}
.theme-grey .panel {
	background: url(../img/panel_bg.png) 0 0 scroll repeat;
}
.theme-grey .window {
	border: 1px solid rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.65);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	background-color: #555;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #555, #333); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image: -moz-linear-gradient(top, #555, #333); /* FF3.6+ */
	background-image: -ms-linear-gradient(top, #555, #333); /* IE10 */
	background-image: -o-linear-gradient(top, #555, #333); /* Opera 11.10+ */
	background-image: linear-gradient(to bottom, #555, #333);
	-webkit-background-clip: padding-box; /* fix the background bleeding edge */
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.35);
	-o-box-shadow: 0px 2px 3px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.35);
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.35);
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.35);
	-webkit-transition: -webkit-box-shadow 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: -moz-box-shadow 0.3s ease-out;  /* FF4+ */
	-ms-transition: -ms-box-shadow 0.3s ease-out;  /* IE10 */
	-o-transition: -o-box-shadow 0.3s ease-out;  /* Opera 10.5+ */
	transition: box-shadow 0.3s ease-out;
}
.theme-grey .ui-token {
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	opacity: 1;
	filter:alpha(opacity=100);
	min-width: 30px;
	height: 12px;
	line-height: 1;
	text-align:center;
	z-index: 20;
	position: absolute;
	background-color: #eeeeef;
	padding: 12px 28px 12px 12px;
	font-size: 16px;
	cursor: move;
}
.theme-grey .ui-token:hover {
	-webkit-animation: glowing 2s ease-out infinite;
	-moz-animation: glowing 2s ease-out infinite;
	-ms-animation: glowing 2s ease-out infinite;
}
.theme-grey .ep {
	background: #333;
	position: absolute;
	z-index: 21;
	width: 16px;
	height: 16px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.25), inset 0 2px 3px rgba(0,0,0,0.25);
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.25), inset 0 2px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.25), inset 0 2px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.25), inset 0 2px 3px rgba(0,0,0,0.25);
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	cursor: pointer;
	top: 50%;
	margin-top: -8px;
	right: 8px;
}
.theme-grey .ep:after {
	color: #fcd700;
	position: absolute;
	content: "\002022";
	font-size: 18px;
	vertical-align: top;
	left: 5px;
	top: 0px;
}
.theme-grey .ui-layout-resizer {
	position: relative;
	min-height: 6px;
	min-width: 6px;
	border: 1px solid rgba(0,0,0,0.5);
	background: #cca;
	background-color: #444;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.theme-grey .ui-layout-resizer.active,
.theme-grey .ui-layout-resizer:hover {
	background: rgba(252,215,0,0.5);
}
.ui-layout-resizer-east,
.ui-layout-resizer-west {
	box-shadow: 0px 0 3px rgba(0,0,0,0.35), inset 1px 0 0 rgba(255,255,255,0.35);
	-o-box-shadow: 0px 0 3px rgba(0,0,0,0.35), inset 1px 0 0 rgba(255,255,255,0.35);
	-webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.35), inset 1px 0 0 rgba(255,255,255,0.35);
	-moz-box-shadow: 0px 0 3px rgba(0,0,0,0.35), inset 1px 0 0 rgba(255,255,255,0.35);
}
.ui-layout-resizer-south,
.ui-layout-resizer-north {
	box-shadow: 0px 0 3px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.35);
	-o-box-shadow: 0px 0 3px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.35);
	-webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.35);
	-moz-box-shadow: 0px 0 3px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.35);
}
.ui-layout-toggler-south,
.ui-layout-toggler-north,
.ui-layout-toggler-west,
.ui-layout-toggler-east {
	border-top: 1px solid #222;
	border-bottom: 1px solid #999;
	box-shadow: inset 0 0 1px rgba(0,0,0,0.35);
	-o-box-shadow: inset 0 0 1px rgba(0,0,0,0.35);
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.35);
}
.ui-layout-toggler-east,
.ui-layout-toggler-west {
	background: #333 url(../img/resizer_v.gif) 1px 50% no-repeat;
}
.ui-layout-toggler-north,
.ui-layout-toggler-south {
	background: #333 url(../img/resizer_h.gif) 1px 50% no-repeat;
}
.theme-grey .dragHover {
	border: 1px solid #FCD700;
}
._jsPlumb_endpoint { z-index:50; }
._jsPlumb_connector { z-index:60; }
path { cursor:pointer; }

#canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.unselectable {
	-moz-user-select: none;  
    -webkit-user-select: none;  
    -ms-user-select: none;
}
.action {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 8px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
#plot {
	width: 280px;
	height: 280px;
	padding: 0;
	position: relative;
}
	#plot .tickLabel { font-size: 12px; min-width: 32px;}
	
#formula {
	color: #fcd700;
	font-weight: normal;
	font-size: 18px;
	background: rgba(0,0,0,0.25);
	border: 1px solid rgba(0,0,0,0.4);
	min-height: 13px;
	padding: 12px;
	position: absolute;
	-moz-user-select: text; 
    -webkit-user-select: text;
    -ms-user-select: text;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	bottom: 49px;
	left: 0;
	width: 100%;
	z-index: 90;
}
#formula:before {
	content: "> ";
	color: #ccc;
}
#input-logic {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1.5px;
	width: 100%;
}
#tokenCtrl {
	overflow: hidden;
	width: 75%;
}
#prioritizeCtrl {
	width: 25%;
}
	#prioritizeCtrl	.inner { margin: 0 auto; width: 320px; height: 320px; position: relative; margin: 10px;}
	#prioritizeCtrl .panel { background: #333; padding: 68px 0 0 0;}
	#slider-horizontal { width: 280px; position: absolute; bottom: 0; left: 0; z-index: 2; }
	#slider-vertical { height: 280px; position: absolute; top: 0; right: 0; z-index: 2; }
	#pz-indicator { padding:10px; }
		#pz-indicator label { display: block; font-size: 16px; margin: 0 0 8px 0;}
.ui-tabs { position: relative; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
	margin: 0; position: absolute; top: 0; left: 0; width: 100%; height: 38px; z-index: 2;
	padding: 0 0 0 45px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.ui-tabs .ui-tabs-nav:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 46px;
	height: 36px;
	content: "";
	border-right: 1px solid rgba(0,0,0,0.25);
	background: url(../img/genifer_logo.png) 8px 1px no-repeat;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none; 
	float: left; 
	position: relative;
	top: 0; 
	margin: 0; 
	padding: 0;
	border-left: 1px solid rgba(255,255,255,0.12);
	border-right: 1px solid rgba(0,0,0,0.25);
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li:last-child { border-right: none; }
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: 3px 12px; 
	text-decoration: none;
	font-weight: bold;
	height: 30px;
	line-height: 26px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0;
	border: 1px solid #333;
	background: #3c3c3c	;
	-webkit-background-clip: padding-box; /* fix the background bleeding edge */
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.35);
	-o-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.35);
	-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.35);
	-moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.35), 0 1px 0 rgba(255,255,255,0.35);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.65);
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a { color: #fff; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	display: block; border-width: 0; background: none; height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	z-index: 1;
}
.ui-tabs .ui-tabs-hide { display: none !important; }
.ui-tabs-content { height: 100%; }

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* jQuery UI Slider 1.8.7 */
.ui-slider {
	position: relative; text-align: left; background: #d7d7d7;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;	
}
.ui-slider { -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset; }
.ui-slider .ui-slider-handle {
	background: url(../img/slider_handles.png) 0px -23px no-repeat; 
	position: absolute; z-index: 2;
	width: 23px; 
	height: 23px; 
	cursor: default;
	border: none;
	outline: none; 
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.ui-slider  .ui-state-hover, .ui-slider  .ui-state-active { background-position: 0 0; }
.ui-slider .ui-slider-range { background: #666; position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.ui-slider .ui-slider-range { -moz-box-shadow: 0 1px 2px rgba(51,51,51,0.6) inset; -webkit-box-shadow: 0 1px 2px rgba(51,51,51,0.6) inset; }
.ui-slider-horizontal { height: 5px; }
.ui-slider-horizontal .ui-slider-handle { top: -8px; margin-left: -13px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical { width: 5px; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -8px; margin-left: 0; margin-bottom: -13px; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

@-webkit-keyframes glowing {
	0% { -webkit-box-shadow: 0 1px 1px rgba(252, 215, 0, 0.75), inset 0 1px 0 rgba(255,255,255,0.35); }
	50% { -webkit-box-shadow: 0 1px 6px rgba(252, 215, 0, 0.75), inset 0 1px 0 rgba(255,255,255,0.35); }
}
@-moz-keyframes glowing {
	0% { -moz-box-shadow: 0 1px 1px rgba(252, 215, 0, 0.75), inset 0 1px 0 rgba(255,255,255,0.35); }
	50% { -moz-box-shadow: 0 1px 6px rgba(252, 215, 0, 0.75), inset 0 1px 0 rgba(255,255,255,0.35); }
}
@-ms-keyframes glowing {
	0% { -ms-box-shadow: 0 1px 1px rgba(252, 215, 0, 0.75), inset 0 1px 0 rgba(255,255,255,0.35); }
	50% { -ms-box-shadow: 0 1px 6px rgba(252, 215, 0, 0.75), inset 0 1px 0 rgba(255,255,255,0.35); }	
}
@-o-keyframes glowing {
	0% { -o-box-shadow: 0 1px 1px rgba(252, 215, 0, 0.75), inset 0 1px 0 rgba(255,255,255,0.35); }
	50% { -o-box-shadow: 0 1px 6px rgba(252, 215, 0, 0.75), inset 0 1px 0 rgba(255,255,255,0.35); }	
}
